@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Lato:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

.bgimg {
    width: 100%;
    height: 100vh;
    background-image: url(image-container/estate_home.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.content {
    position: absolute;
    top: 30%;
    left: 20%;
}


.content p {
    color: white;
    font-weight: 200;
}


.content button {
    padding: 10px 30px;
    margin: 15px;
    border-radius: 9px;
    background-color: orangered;
    border: none;
    color: rgb(255, 255, 255);
    letter-spacing: 0.2rem;
    transition: all .5s;
}

.content button:hover {
    transition: all .5s;
    cursor: pointer;
    color: orangered;
    box-shadow: inset 0 3rem #fff;
}

.content h1 {
    font-size: 4rem;
    color: whitesmoke;
    font-weight: 500;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}

.content h2:hover {
    cursor: pointer;
}

.search {
    position: absolute;
    top: 80%;
    left: 34%;

    display: flex;
}

.search input {
    padding: 15px;
    width: 26rem;
    border: none;
    border-radius: 50px 0 0 50px;
}

.search input:checked {
    border: none;
}

.search button {
    padding: 15px;
    border-radius: 0 50px 50px 0;
    border: none;
}

.search button:hover {
    cursor: pointer;
}

.bgimg::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    justify-content: space-evenly;
    padding: 10px;
    z-index: 999;
    color: #fff;
}

.navbar #menu,
a {
    color: #fff;
    text-decoration: none;

}

.menu {
    display: none;
}

#menu {
    display: none;
}

.logo {
    font-size: 20px;
    padding: 5px;
}

.logo span {
    color: orangered;
    font-weight: 600;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    font-family: sans-serif;
    font-size: 15px;
    transition: all .5s;
    text-decoration: none;
    color: skyblue;
}

.nav-links li {
    padding: 9px;
}

.nav-links a:hover {
    transition: all .5s;
}

.links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.links a {
    font-family: sans-serif;
    font-size: 15px;
    transition: all .5s;
    text-decoration: none;
    color: skyblue;
}

li a:hover {
    color: orangered;
}

.nav-links {
    color: #fff;
    border: none;
    transition: all .5s;
    margin-left: 60px;
}

.fff {
    margin-top: 50px;
    align-items: center;
    gap: 3rem;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.fff span {
    color: orangered;
    font-size: 20px;
    font-weight: 600;
}

.fff h1 {
    text-decoration: underline;
}

.fff h5 {
    width: 250px;
}

.property {
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    overflow: hidden;
}

.property .pro {
    text-align: center;
    padding-top: 60px;
    font-size: 30px;
}

.house-content {
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 2rem;
}

.house-content2 {
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 1rem;
}

.property span {
    color: orangered;
}

.property .text {
    font-weight: 200;
    text-align: center;
    padding: 10px;
}

.house {
    width: 300px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    text-align: left;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.2);
    height: fit-content;
}

.house .num {
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 50px;
    box-shadow: 0 0 0.5rem black;
    background-color: rgb(249, 94, 38);
    height: fit-content;
    width: fit-content;
    padding: 5px;
    color: #fff;
}

.num {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.house img {
    width: 300px;
    height: 200px;
}

.house h1 {
    font-size: 20px;
    text-align: center;
    margin: 5px;
}

.house p,
h2,
button {
    margin: 5px;
}

.house p {
    margin: 5px;
    font-size: 15px;
}

.house p span {
    color: green;
}

.house h2 {
    font-size: 15px;
    font-weight: 200;
}

.house h2 del {
    font-weight: 100;
}

.house button {
    padding: 10px 30px;
    margin: 15px;
    border-radius: 9px;
    background-color: #000;
    border: none;
    color: rgb(255, 255, 255);
    transition: all .5s;
}

.house button:hover {
    transition: all .5s;
    cursor: pointer;
    color: #000;
    box-shadow: inset 0 3rem #fff;
}

.bed {
    display: flex;
    width: 100%;
}

.bed li {
    list-style: none;
    font-size: 12px;
    margin: 5px;
    margin-left: 15px;
}

.best {
    height: 100vh;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background-color: aliceblue;
}

.best h1 {
    padding-top: 50px;
    font-size: 30px;
    color: #000;
    font-weight: 600;
}

.best p {
    padding-bottom: 100px;
    font-size: 15px;
    color: #000;
    font-weight: 600;
}

.best-container {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.bbox {
    height: 300px;
    padding: 5px;
    width: 270px;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.5);
    background-color: #000000D5;
}

.bbox button {
    padding: 10px 30px;
    border-radius: 6px;
    background-color: aliceblue;
    border: none;
    margin-top: 60px;
    transition: all .3s;

}

.bbox button:hover {
    transition: all .3s;
    box-shadow: inset 0 0 2rem black;
    color: #fff;
    cursor: pointer;
}

.bbox h1 {
    color: aliceblue;
    padding: 30px;
    font-size: 19px;
}

.bbox p {
    padding-top: 5px;
    font-size: 15px;
    padding: 2px;
    color: aliceblue;
    font-family: sans-serif;
    font-weight: 200;
    font-style: bold;
}

.tran-art {
    background-color: #000;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.tran-art p {
    font-size: 50px;
    color: #fff;
    font-weight: 600;
}

.tran-art h1 {
    color: orangered;
}

.tran-art div {
    flex-wrap: wrap;
    text-align: center;
}

.agent {
    position: relative;
    text-align: center;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.agent span {
    color: red;
    font-weight: 500;
}

.agent_container {
    flex-wrap: wrap;
    display: grid;
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.profile {
    width: 200px;
}

.profile p {
    font-size: 15px;
    font-weight: 500;
}

.team {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-image: url('image-container/survery.worker.jpg');
    background-color: rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
}
.team-content {
    display: flex;
     flex-wrap: wrap;
     gap: 100rem;
}

.team span {
    color: orangered;
}

.team h1 {
    color: aliceblue;
    font-size: 40px;
    font-weight: 600;
}
.team p {
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

.team-containers {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}
.team-container {
    display: grid;
    align-items: center;
    justify-content: center;
}

.team-containers li {
    list-style: none;
    font-size: 20px;
    margin: 5px;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 30px 50px;
    font-weight: 500;
}
.team-containers ul {
    text-align: left;
}
.team-content {
    display: flex;
    gap: 1rem;
}

.team-container {
    margin-top: 55px;
    flex-wrap: wrap;
    background-color: aliceblue;
    height: 80vh;
    border-radius: 10px;
    width: 25rem;
}
.team-container h1 {
    color: black;
    font-size: 30px;
}
.team-container input {
    height: 2.5rem;
    width: 20rem;
    padding: 10px;
    margin: 8px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: all .5s;
}
.team-container input:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: all .5s;

}
.team-container p {
    font-size: 13px;
    padding: 50px;
}
.team-container button {
    padding: 10px 30px;
    margin: 15px;
    border-radius: 9px;
    background-color: orangered;
    border: none;
    color: rgb(255, 255, 255);
    letter-spacing: 0.2rem;
    transition: all .5s;
    box-shadow:  0 0.5rem 0.5rem rgba(0, 0, 0, 0.4)

}

.team-container button:hover {
    transition: all .5s;
    cursor: pointer;
}
.acont {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    background: aliceblue;
    padding: 18px;
    border-radius: 10px;
    transition: all .3s;
}

.acont:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    transition: all .3s;
}


.img-container {
    background-color: orangered;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
}

.acont .tx {
    color: #000;
    font-weight: 600;
}

.tx h3,
p {
    color: #000;
}

.profile p {
    color: #000;
    font-size: 13px;
    font-weight: 500;
}

.aaa {
    color: #000;
}

.acont button {
    padding: 10px 30px;
    margin: 15px;
    border-radius: 9px;
    background-color: orangered;
    border: none;
    color: rgb(255, 255, 255);
    letter-spacing: 0.2rem;
    transition: all .5s;
}

.acont button:hover {
    transition: all .5s;
    cursor: pointer;
    color: orangered;
    box-shadow: inset 0 3rem #fff;
}

.img-container img {
    border-radius: 50%;
    background-color: #000;
    border: 2px solid #fff;
    height: 195px;
    width: 195px;
}



.contact {
    overflow: hidden;
    text-align: center;
    position: relative;
    height: 110vh;
    background-color: #000000D5;
    display: grid;
    align-items: center;
    justify-content: center;
}

.contact-container {
    margin-bottom: 50px;
}

.contact h1 {
    margin-top: 50px;
    font-size: 30px;
    color: #fff;
}

.contact li {
    list-style: none;
}


.contact input {
    outline: none;
    border: none;
    margin: 3px;
    border-radius: 10px;
    background-color: #fff;
    padding: 25px;
    height: 30px;
    width: 19rem;
    caret-color: orangered;
    transition: all .5s;
}

.contact span {
    color: orangered;
}

.contact textarea {
    outline: none;
    border: none;
    padding: 10px;
    margin: 10px;
    width: 39rem;
    height: 20rem;
    border-radius: 20px;
}


.contact button {
    margin-bottom: 50px;
    padding: 10px 20px;
    border: none;
    background: orangered;
    color: #fff;
    border-radius: 5px;
}

.contact-container {
    padding: 50px;
}

.contact button:hover {
    cursor: pointer;
    background-color: orange;
}

.foot {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    align-items: center;
    justify-content: space-around;
}

footer {
    background-color: black;
    text-align: center;
    color: whitesmoke;

}

.ft>li,
form>li {
    list-style: none;

}

.ft a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.ft {
    text-align: left;
}

.ft form {
    padding: 10px;
}

.ft-mail p {
    color: #fff;
}

.ft-mail {
    padding-top: 10px;
    text-align: left;
}


input[type='text'] {
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border: none;
}

input[type='submit'] {
    padding: 10px;
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 15px;
}

.customer-care {
    position: fixed;
    bottom: 5px;
    right: 10px;
    background-color: #fff;
    z-index: 1000;
    height: 55px;
    width: 55px;
    overflow: hidden;
    box-shadow: 0 0 2rem cyan;
    border-radius: 50px;
    transition: all .3s;
}

.customer-care:hover {
    transform: scale(0.9);
    cursor: pointer;
    transition: all .3s;
}

.customer-care img {
    height: 55px;
    width: 55px;
}

.ss {
    color: #fff;
}

.ss span {
    color: orangered;
    font-weight: 600;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}


@media screen and (max-width:1000px) {

    .search {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: center;
    }

    .search input {
        padding: 10px;
        width: 27rem;
        border: none;
        border-radius: 50px 0 0 50px;
    }

    .search button {
        padding: 10px;
        border-radius: 0 50px 50px 0;
        border: none;
    }

    .customer-care {
        position: fixed;
        bottom: 5px;
        right: 10px;
        height: 55px;
        width: 55px;
    }

    .customer-care img {
        height: 55px;
        width: 55px;
    }

    .tran-art {
        height: 25vh;
        display: flex;
        gap: 7rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .tran-art h1 {
        font-size: 15px;
    }

    .tran-art p {
        font-size: 20px;
        font-weight: 600;
    }

    .tran-art div {
        flex-wrap: wrap;
        gap: 6rem;
        text-align: center;
    }

    .best {
        height: 100vh;
    }

    .contact {
        height: 60vh;
    }

    .acont:hover {
        transform: none;
        box-shadow: none;
        transition: none;
    }

    .contact {
        height: 80vh;
    }

}

@media screen and (max-width:700px) {
    .body {
        text-align: center;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .content {
        margin-right: 60px;
    }

    .search {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: center;
    }

    .search input {
        padding: 9px;
        width: 15rem;
        border: none;
        border-radius: 50px 0 0 50px;
    }

    .search button {
        padding: 9px;
        border-radius: 0 50px 50px 0;
        border: none;
    }

    .navbar {
        justify-content: space-between;
    }

    .nav-links {
        flex-direction: column;
        margin-top: 50px;
        text-align: center;
    }

    .nav-links a:hover {
        padding: 10px;
    }

    .navbar>ul>li {
        display: block;
    }

    nav>ul>li {
        display: block;
    }

    .hero {
        flex-wrap: wrap;
    }

    ul {
        position: absolute;
        background-color: #000000D5;
        left: -71px;
        right: 2px;
        top: 6px;
        text-align: center;
        clip-path: polygon(0 0, 100% 0, 0 0, 100% 0);
        transition: 1s all;
    }

    .clipped {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    i {
        display: block;
        background-color: #fff;
    }

    .reg {
        position: relative;
    }

    .nav-links li:hover {
        background-color: skyblue;
        transition: all .2s;
    }

    .house {
        width: 100%;
    }

    .house img {
        width: 100%;
    }

    .menu {
        display: block;
        padding: 9px;
    }

    #menu {
        display: block;
        padding: 9px;
    }

    .menu span {
        margin: 2px;
        background-color: #fff;
        padding: 0.5px;
    }

    .menu:hover {
        cursor: pointer;
    }

    .nav-links {
        display: block;
        gap: 40px;
    }
    .team {
        height: 200vh;
    }
    .team-content {
        flex-wrap: wrap;
    }
    
    .team-container {
        width: 23rem;
        border-radius: 30px;
        margin: 10px;
    }

    .agent {
        height: 240vh;
        overflow: hidden;
    }

    .acont {
        width: 90%;
        padding: 2px;
    }

    .acont:hover {
        transform: none;
        box-shadow: none;
        transition: none;
    }

    .content h2 {
        font-size: 18px;
    }

    .content h1 {
        font-size: 35px;
    }

    .content2 h1 {
        font-size: 35px;
    }



    .customer-care {
        position: fixed;
        bottom: 40px;
        right: 10px;
        height: 45px;
        width: 45px;
    }

    .customer-care img {
        height: 45px;
        width: 45px;
    }

    .tran-art {
        height: 30vh;
        padding: 10px;
        display: flex;
        gap: 5rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .tran-art h1 {
        font-size: 19px;
    }

    .tran-art p {
        font-size: 20px;
        font-weight: 600;
    }

    .best {
        height: 170vh;
    }

    .contact {
        height: 80vh;
    }

    .contact textarea {
        outline: none;
        border: none;
        padding: 10px;
        margin: 10px;
        width: 21rem;
        height: 15rem;
        border-radius: 20px;
    }

    .contact input {
        outline: none;
        border: none;
        margin: 3px;
        border-radius: 10px;
        background-color: #fff;
        padding: 25px;
        height: 30px;
        width: 10rem;
        caret-color: orangered;
        transition: all .5s;
    }

    .contact input::placeholder {
        font-size: 11px;
    }

    .contact textarea::placeholder {
        font-size: 11px;
    }


    .contact button {
        padding: 10px 20px;
        border: none;
        background: orangered;
        color: #fff;
        border-radius: 5px;
    }

    .contact button:hover {
        cursor: pointer;
    }

    iframe {
        width: 345px;
    }

}